.home-section__stars__icon {
  position: relative;

  display: inline-block;
  width: 0;
  height: 0;

  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;

  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 18px;

  &:before,
  &:after {
    content: '';

    display: block;
    width: 0;
    height: 0;

    position: absolute;
    top: 0.6em;
    left: -1em;

    border-right: 1em solid transparent;
    border-left: 1em solid transparent;

    transform: rotate(-35deg);
  }

  &:after {
    transform: rotate(35deg);
  }
}

@media (min-width: 320px) {
  .home-section__stars__icon {
    font-size: 15px;
  }
}

.home-section__stars__icon.active {
  border-bottom: 0.7em solid #fc0;

  &:before,
  &:after {
    border-bottom: 0.7em solid #fc0;
  }
}

.home-section__stars__icon.disabled {
  border-bottom: 0.7em solid gray;

  &:before,
  &:after {
    border-bottom: 0.7em solid gray;
  }
}
